VOLCANO_API_KEY=your_volcano_ark_api_key
VOLCANO_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
VOLCANO_MODEL=doubao-seed-2-0-mini-260428
VOLCANO_WEB_SEARCH_MAX_KEYWORD=3

TIANAPI_API_KEY=your_tianapi_key
TIANAPI_SOCIAL_URL=https://apis.tianapi.com/social/index

JUSTONEAPI_TOKEN=your_justoneapi_token
JUSTONEAPI_BASE_URL=http://47.117.133.51:30015
